.current-menu-item a, header .mainmenu ul li a:hover, .current-page-ancestor { color: #1f75c5 !important; border-bottom: 12px solid #1f75c5 !important; }
.mm-menu .current-menu-item ul li a, .current-page-ancestor a { color: #1f75c5 !important; }
.mm-menu { background:#606163 !important; padding: 15px 0 !important; z-index: 9 !important;}
.mm-title { display:none; }
.mm-menu .menu-item { padding-bottom: 15px; }
.mm-menu ul li { list-style-type: none; }
.mm-menu ul li a { color: #fff !important; }
.mm-menu ul li a:hover { text-decoration:none; border-bottom:12px solid #1f75c5 !important; }
.ls-wp-fullwidth-container { z-index:0 !important; }
.sh-button { border: 2px solid #606163; border-radius: 3px; color: #606163 !important; font-size: 21px; padding: 0px 5px; margin-bottom: 10px; }
header .sh-button { display:none; }
header .menucont { background: #efefef; padding: 26px 0 0px; }
header .menucont { border-bottom:4px solid #1f75c5; }
header .mem-lists { margin-bottom: 15px; text-align:right; }
header .mem-lists a { display: inline-block; vertical-align: bottom; }
header .mem-lists img { padding: 0 10px; }
header .mainmenu ul { margin-left: -45px; }
header .mainmenu ul li { display:inline-block; list-style-type:none; padding: 0 5px; }
header .mainmenu ul li a { text-decoration:none; color:#333333; }
header h1.page-title { text-transform: uppercase; font-weight: 800; font-size: 23px; color: #000; margin-bottom: 20px; }
.downloadbtn { background: #74c367; color: #fff; border-radius:0; outline: none; font-weight:500; }
.downloadbtn:hover { color: #faf7f7; }
.downloadbtn i { padding-left: 10px; }

.home-new .whats-new-item .whatsnewimg, .home .whats-new-item .whatsnewimg a { border-radius: 50%;  height: 190px; width: 190px; }
.home-new .whats-new-item .whatsnewimg a { display: block; border: 5px solid #4c8f80; }
.home-new .post-perma { margin: 30px 0; padding: 15px 30px; font-size: 14px }
.home-new .default-link-btn:hover { background: #0463be; }
.home-new .date-whats-new { padding: 15px 0; }


/* ------------- tabs -------------------- */
#page { font-family: 'Raleway', sans-serif; }
#page .tabs ul { margin-left: -37px; }
#page .tabs ul li { list-style-type: none; border-bottom: 1px solid #d4d4d4; }
#page .tabs ul li a { text-decoration: none; font-size: 16px; color: #000; display: block; padding: 11px; }
#page .tabs ul.subchild { margin-left: -40px; }
#page .tabs ul.subchild li a { padding-left: 30px; }
#page .tabs ul li.active a, #page .tabs ul li a:hover { color: #fff; background: #19a6d9; }
#page .tabs ul li.active ul li a{ background: #efefef; color:#000; }
#page .tabs ul li.active ul li.active2 a, #page .tabs ul li.active ul li:hover a  { background: #818181; color: #fff; }

#page .t-lists .title { padding: 15px 0; color: #000; }
#page .t-lists a { color: #1f75c5; text-decoration:none; }
#page .t-lists a:hover, #page .t-lists a:hover i { font-weight:600; }
#page .t-lists a i { padding-right: 5px; }
#page .b-wrapper .b-img { height: 240px; width: 100%; border: 1px solid #a6a6a6; }
#page .b-wrapper .b-desc { padding-top: 15px; }
#page .b-wrapper .center { padding: 0 0 15px 0; }
#page .rd-title { font-size: 16px; font-weight: 700; padding: 5px 0 5px 15px; }
#page .rd-hr { border-bottom: 1px solid #e6e6e6; margin-bottom: 30px; }
#page table td, #page table tr { height: auto !important; }
#page .csr-cont .img { height: 193px; width:100%; }
#page .csr-cont .title { padding: 10px 0; color: #19a6d9; font-weight: 600;  }
#page .csr-cont a { background: #19a6d9; color: #fff; border-radius:0; font-size: 12px;  }
#page .csr-cont .excerpt { padding-bottom: 25px; }
#page .csr-cont .time { color: #9d9d9d; font-size: 12px; padding: 15px 0; }
#page .csr-cont { padding-bottom: 25px; }


#page .panel { border-radius:0; box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; }

#page #globalslider .panel-heading { border: 0; padding: 0; background: transparent; position: relative; }
#page #globalslider a{ display:block; color: #000; font-size: 16px; padding: 15px 12px; text-decoration:none; }
#page #globalslider .panel { border: 0px; border-radius:0; box-shadow: none; -webkit-box-shadow: none; margin: 0; border-bottom: 1px solid #d4d4d4; }
#page #globalslider .panel-group { margin: 0; }
#page #globalslider .panel-body { border: 0; padding: 0px; }
#page #globalslider a.title1[aria-expanded='true'], #page #globalslider a.title1:hover { background: #19a6d9; color: #fff; }
#page #globalslider a.title1.active { background: #19a6d9 !important; color: #fff !important; }
#page #globalslider a.title2 { padding: 15px 15px 15px 30px; font-size: 14px; background: #efefef; }
#page #globalslider a.title2[aria-expanded='true'], #page #globalslider a.title2:hover, #page #globalslider a.title2.activeme2 { background: #818181; color: #fff; }
#page #globalslider a.title2.active2 { background: #818181 !important; color: #fff !important; }
#page #globalslider a.title3 { padding: 15px 15px 15px 50px; font-size: 14px; background: #efefef; }
#page #globalslider a.title3[aria-expanded='true'], #page #globalslider a.title3:hover { background: #a0a0a0; color: #fff; }
#page #globalslider a.title3.active3 { background: #a0a0a0 !important; color: #fff !important; }
#page #globalslider a.title3 span.button i:before{ content: "\f105"; }
#page #globalslider a.title3 span.button { padding-right: 15px; font-size: 16px; }
#page #globalslider a.title3[aria-expanded='true'] span.button i:before{ content: "\f107"; }
#page #globalslider a.title4 { padding: 15px 15px 15px 70px; font-size: 14px; background: #efefef; }
#page #globalslider a.title5 { padding: 15px 15px 15px 90px; font-size: 14px; background: #f7f7f7; }
/* #page #globalslider span.downbutton { position: absolute; right: 0; width: 24px; display: block; top: 0; }
#page #globalslider span.downbutton:hover + a.title2 {  background: #818181 !important; }
#page #globalslider a.title2:hover > span.downbutton a {  background: #818181 !important;  } */
#page #globalslider a.downbuttonlink { padding: 15px 25px 15px 30px; }
#page #globalslider a.downbutton { top: 0; right: 0; bottom: 0; padding: 15px; background: transparent !important; position: absolute; font-size: 16px }
#page #globalslider a.downbutton:hover { color: #19a6d9 !important; }
#page #globalslider a.downbutton i:before { content: "\f103"; }
#page #globalslider a.downbutton[aria-expanded='true'] i:before { content: "\f102" !important; }
#page #globalslider a.downbutton[aria-expanded='true'] { color: #fff !important; }
#page #globalslider .downbuttonlink:hover { text-decoration: underline; }
#page #globalslider .downbuttonlink:hover ~ a.downbutton { color: #fff !important; }




/* ------------- mice -------------------- */
#page .formmice .roundedOne { margin-left: 5px; width: 14px; height: 14px; position: relative; display: inline-block; background: #fcfff4; background: transparent; border:1px solid #4f9cb8; border-radius: 50px; box-shadow: transparent; }
#page .formmice .roundedOne input[type=radio] { visibility: hidden; display: block; }
#page .formmice .roundedOne label { width: 14px; height: 14px; cursor: pointer; position: absolute; left: -1px; top: -1px; background: transparent; border-radius: 50px; box-shadow: transparent; }
#page .formmice .roundedOne label:after { content: ''; width: 14px; height: 14px; position: absolute; top: 0px; left: 0px; background: #4f9cb8; opacity: 0; border-radius: 50px; box-shadow: transparent; }
#page .formmice .roundedOne input[type=radio]:checked + label:after { opacity: 1; top: -1px; }
#page .formmice .labelfor { padding-top: 10px; color: #575757; font-weight: 400; }
#page .formmice select { color: #575757; font-weight: 400; border: 1px solid #dcdcdc; background: #f5f5f5; box-shadow: none !important; -webkit-box-shadow: none !important; }
#page.mice-calendar .mice-cal-title { font-size: 16px; font-weight: 600; color: #000; padding-top: 20px; }
#page.mice-calendar .mice-cal-date { padding: 10px 0; }
#page.mice-calendar .mice-cal-details { background: #f6f6f6; padding: 30px; margin: 15px 0; border-radius: 5px; }
#page.mice-calendar .mice-cal-details table tbody tr td:nth-of-type(2) { padding-left: 15px; }
#page.mice-calendar .mice-cal-details table { margin-left:15px ; }
#page.mice-calendar .mice-cal-details b { padding-bottom: 20px; display: block; }
#page.mice-calendar .mice-cal-details table tbody tr td { font-family: 'Raleway', sans-serif; padding-bottom: 10px; }
#page.mice-calendar .pagination { margin: 40px 0 15px !important; }

#page.alpha h3 { margin: 10px 0; font-weight: 600; font-size: 16px; color: #000; }
#page.alpha h4 { padding: 25px 0 10px; color: #000; }
#page.alpha select[name='discipline'] { background: #f5f5f5; box-shadow: none !important; -webkit-box-shadow: none !important; color:#575757; }
#page.alpha a.btndiscipline { background: #19a6d9; font-weight: 600; color: #fff; width: 70%; }
#page.alpha table { margin: 35px 0; }
#page.alpha table.table>thead>tr>th, #page.alpha table.table tr, #page.alpha table.table td { border: 0; }
#page table td { padding: 12px 10px; }

#page.citizens .citi-title { padding: 10px 0; color: #000; font-weight: 500; }
#page.citizens .citi-link a { padding-right: 15px; text-decoration:none; }
#page.citizens .citi-link a i { padding-right: 5px; }

#page.gender label[for='content'] { font-weight: 400; padding-bottom: 5px; }
#page.gender select[name='content'] { margin-bottom:30px; width: 30%; box-shadow: none !important; -webkit-box-shadow: none !important; border: 1px solid #dcdcdc; background: #dcdcdc; color: #575757; }
#page.careers .note { margin: 30px 0; background: #f3f3f3; padding: 30px 90px; border-radius: 4px; border: 1px solid #dddddd; border-top: 0; border-bottom: 2px solid #9a9a9a; }
#page.careers .note ul { margin-left: -40px; margin-top: 30px; }
#page.careers .note ul li { background: url('../images/checkmark.png') no-repeat 0 3px; list-style-type: none; padding-left: 30px; padding-bottom: 15px; }
#page.careers .careers-slider-cont a.sliderlink { text-decoration: none; font-size: 16px; display:block; background: #f1f1f1; color: #000; font-weight: 700; padding: 16px 25px; border: 1px solid #dddddd; border-top:0; position:relative; }
#page.careers .careers-slider-cont a.sliderlink:after { content: ''; background: #9a9a9a; height:1px; width: 100%; position: absolute; bottom: 1px; left: 0; right: 0; }
#page.careers .careers-slider-cont a.sliderlink span i:before { content: "\f107"; }
#page.careers .careers-slider-cont a.sliderlink.active { background: #19a6d9; color: #fff; }
#page.careers .careers-slider-cont a.sliderlink.active span i:before { content: "\f106"; }
#page.careers .resp-vtabs .resp-tabs-container { border: 0 !important; border-left: 2px solid #8d8d8d !important; border-radius: 0px; }
#page.careers .resp-vtabs li.resp-tab-item.resp-tab-active { background: #8d8d8d !important; color: #fff; }
#page.careers .resp-vtabs li.resp-tab-item { background: transparent !important; border: 0; border:0 !important; font-size: 14px; font-family: 'Raleway', sans-serif;}

#page .agencies .agencies-wrp { padding: 15px 0; }
#page .agencies .agencies-wrp .img-wrp { display: table; width: 100%; padding: 15px; background: #f6f6f6; min-height: 220px; }
#page .agencies .agencies-wrp .img-wrp .img-tble { display: table-cell; vertical-align: middle; width: 100%; }
#page .agencies .agencies-wrp .details { padding-top: 25px; }

#page #qaslider h2.resp-accordion { font-size: 18px; color: #000; padding: 20px 15px !important; border: 0 !important; border-bottom: 1px solid #d4d4d4 !important; }
#page #qaslider h2.resp-accordion.resp-tab-active { background: #19a6d9 !important; color: #fff; }
#page #qaslider h2.resp-accordion span.resp-arrow { padding-right: 15px; border: 0 !important; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#page #qaslider h2.resp-accordion span.resp-arrow:before { content: "\f107"; }
#page #qaslider h2.resp-accordion.resp-tab-active span.resp-arrow:before { content: "\f106"; }
#page #qaslider .resp-tab-content { border: 0 !important;  border-bottom: 15px solid #d0d0d0 !important;  }
#page #qaslider .content { padding: 15px 0; }


#page .filters { margin: 15px 0; }
#page .filters select { border-radius: 0; }
#page .mice-cont .e-country img { width: 14px; height: 25px; padding-right: 5px; }
#page .mice-cont #eventlists { margin: 15px 0; }
#page .mice-cont table th, #page .mice-cont table td { font-family: 'Raleway', sans-serif; padding: 30px 10px; border: 0; }
#page .mice-cont table tr.e-country { background: #e9e9e9; border: 0; color: #000; font-weight: 700;  }
#page .mice-cont table tr.e-country td { border: 0; padding: 10px; position: relative; }
#page .mice-cont a.link.pdfbuttonid { display: inline-block; padding-left: 15px; }
#page .mice-cont a.pdfbuttonid { display: block; color: #000; }
#page .mice-cont .pdfbutton { border-top: 1px solid #cccccc; padding-top: 15px; }

#page .mice-cont .mpdf { padding: 25px; }
#page .mice-cont .mpdf table th { font-weight: 700; }
#page .mice-cont .mpdf table tr.e-country td { font-weight: 600; }
#page .mice-cont .mpdf table td { vertical-align: top; }

#page .term_discipline .wrp { margin-bottom: 15px; }
#page .term_discipline .wrp .title { font-weight: 700; }

#archive .invitation h2.resp-accordion { border: 0 !important; border-bottom: 1px solid #d4d4d4 !important; padding: 15px 15px 15px 20px !important; }
#archive .invitation h2.resp-accordion:hover { background: #19a6d9 !important; color: #fff !important;}
#archive .invitation .title { white-space: nowrap; padding-right: 35px; overflow: hidden; text-overflow: ellipsis; padding-top: 15px; display: block; font-size: 18px; }
#archive .invitation h2.resp-accordion span.resp-arrow { font-size: 20px !important; padding-top: 15px; padding-right: 15px; border: 0 !important; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#archive .invitation h2.resp-accordion span.resp-arrow:before { content: "\f107"; }
#archive .invitation h2.resp-accordion.resp-tab-active span.resp-arrow:before { content: "\f106"; }
#archive .invitation h2.resp-accordion.resp-tab-active { color: #fff !important; background: #19a6d9 !important; }
#archive .invitation .resp-easy-accordion .resp-tab-content { border: 0 !important; }
#archive .invitation .resp-easy-accordion .resp-tab-content .title { padding-top: 5px; display: inline !important; width: 100% !important; white-space: normal !important; }
#archive .invitation .resp-easy-accordion .resp-tab-content a { color: #19a6d9; }

#page .comment-respond h2#reply-title  { padding-bottom: 20px; }
#page .comment-respond h2#reply-title span { font-size: 23px; font-weight: 800; color: #000;  }
#page form#commentform .comment-avatar { width: 5%; }
#page form#commentform .comment-form-comment { width: 95%; }
#page form#commentform .comment-form-comment2 { width: 100%; }
#page form#commentform textarea{ border: 2px solid #ccd3d7; resize: vertical; background: #f6f6f6 }
#page form#commentform .form-submit #submit { padding: 15px 50px; font-weight: 600;  }
#page form#commentform .form-submit { text-align: right; padding: 15px 0; }
#page form#commentform .comment-notes { padding-bottom: 15px; }
#page form#commentform input[type='text'] { height: 45px; background: #f6f6f6; margin: 15px 0; border: 2px solid #ccd3d7; }
#page form#commentform input:focus, #page form#commentform textarea:focus { background: #fff; }

#page.coos .feeds-wrp { margin-top: 40px; }
#page.coos ul.feeds { margin-left: -45px; margin-bottom: 45px; }
#page.coos ul.feeds li { display: inline-block; list-style-type: none; position: relative; }
#page.coos ul.feeds li:after { position: absolute; right: -3px; top: 0; bottom: 0; content: ''; width: 1px; border: 0; border-left: 1px solid #408877; border-right: 1px solid #000; height: 100%; }
#page.coos ul.feeds li a { font-weight: 600; padding: 12px 5px; margin: 15px 5px; font-size: 16px; color: #408877; text-decoration: none; }
#page.coos ul.feeds li a:hover, #page.coos ul.feeds li a.active { background: #408877; color: #fff; }
#page.coos ul.feeds li:last-child:after { display: none; }
#page.coos iframe.twitter-widget-0 { border: 1px solid #408877; }
#page.coos #coos-slider .col-lg-6 { padding: 0 2px; }
#page.coos .bx-wrapper .bx-viewport { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: transparent; border: 5px solid transparent; }
#page.coos .controller span { font-size: 26px; }
#page.coos .controller span a { color: #373737; }
#page.coos .controller span a:hover { color: #1f1f1f; }
.fancybox-skin { background: transparent !important; border-radius: 0 !important; box-shadow: none !important; -webkit-box-shadow: none !important; }
.fancybox-overlay { background: rgba(255, 255, 255, 0.7) !important; }
.fancybox-nav { width: 34px !important; }
.fancybox-nav.fancybox-next span { background: transparent url('../images/edit_right.png') !important; }
.fancybox-nav.fancybox-prev span{ background: transparent url('../images/edit_left.png') !important; }
.fancybox-nav span {  width: 21px !important; height: 34px !important; visibility: visible !important;  }
.fancybox-inner { overflow-x: hidden !important; }
.innerwrapper h1.title { font-size: 25px; font-weight: 600; }
.innerwrapper .desc { padding-top: 30px 0 15px; }
.fancybox-title-float-wrap .child { display: none !important; }


.pagination { color: #565656; }
.pagination .page-numbers { border: 1px solid #dcdcdc; color: #35acdc; padding: 3px 8px; margin:0px 2px; }
.pagination .page-numbers.current { background: #19a6d9; color: #fff; }
.pagination .page-numbers.next, .pagination .page-numbers.prev { border: 0; color: #565656; margin: 0;}

span.gma { display: none; }

/* -------------------------- ARCHIVE -------------------------- */
#archive .sidebar-archive .panel-heading { padding: 0; background: transparent; border: 0; border-radius: 0; }
#archive .sidebar-archive .panel-heading a.year { padding: 15px 10px; color: #000; font-size: 16px; display: block; text-decoration: none; border-bottom: 1px solid #d4d4d4; }
#archive .sidebar-archive .panel-heading a.year:hover, #archive .sidebar-archive .panel-heading a.year.activeyear { color: #fff !important; background: #19a6d9 !important; }
#archive .sidebar-archive .panel-body { padding: 0; }
#archive .sidebar-archive .panel { border: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; margin-top: 0; }
#archive .sidebar-archive a.month { padding: 15px 10px 15px 20px; color: #000; font-size: 16px; display: block; text-decoration: none; }
#archive .sidebar-archive a.month:hover, #archive .sidebar-archive a.month.activemonth { background: #dddddd !important; color: #fff !important; }
#archive .glbl-cont { position: relative; margin-bottom: 40px; }
#archive .glbl-cont .glbl-img { width: 100%; height: 190px; margin-bottom: 15px; }
#archive .glbl-cont .glbl-title { color: #19a6d9; font-weight: 500; }
#archive .glbl-cont .glbl-excerpt { padding: 10px 0 15px; }
#archive .glbl-cont .glbl-time { font-size: 12px; color: #9d9d9d; padding-top: 10px }
#archive .glbl-cont .glbl-link a { border-radius: 0; background: #19a6d9; }
#archive .glbl-cont .glbl-pulldown { position: absolute; bottom: 0; left: 0; right: 0; width: 100%; }

/* //bxslider */
.bx-wrapper .bx-viewport { -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; border: 5px solid transparent !important; }


/* ------------- footer -------------------- */

footer { background: #606163; padding:20px 0 30px; margin-top: 30px;}
footer .footer-links ul { margin-left: -35px; }
footer .footer-links ul li { list-style-type:none; padding-bottom:5px; }
footer .footer-links ul li a { color: #fff; font-weight: 600; font-size:17px; }
footer .footer-links ul li a:hover { text-decoration:underline; }
footer .g-footer { border-top:2px solid #555555; width:100%; position:relative; font-size: 12px; margin-top: 25px; }
footer .g-footer:after { content:''; border-top:2px solid #6d6d6d; width:100%; position:absolute; top:1px; left:0; right:0; }
footer .g-footer p:first-of-type { padding-top: 30px; }
footer .g-footer p { color: #fff; margin-bottom: 0;}
footer .g-footer a { color: #fff; }
footer .logos { padding: 0; }