.img-wrap-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
}
.brochure-title {
    font-weight: 500;
    margin: 15px 0;
}
.brochure-link > a {
    color: #1f75c5;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none !important;
}
.brochure-link > a:hover {color: #b42455; }
.brochure-link > a > i { margin-right: 5px; }
.footer-links .current-menu-item a,
.footer-links li > a:hover {
    color: #fff !important;
    text-decoration: none !important;
    border-bottom: 3px solid #afb0b1!important;
}
.pg-label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
#cf-wrap input[type="text"], 
#cf-wrap input[type="email"], 
#cf-wrap textarea {
    width: 95%;
    background-color: #f6f6f6;
    border: 2px solid #d6d6d6;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 15px;
}
#cf-wrap input[type="text"], #cf-wrap input[type="email"] { height: 45px; }
#cf-wrap textarea { height: 140px; }
.inline-me , .captcha-submit-wrap .wpcf7-form-control-wrap { display: inline-block; }
.captcha-submit-wrap p { display: inline; }
#cf-wrap .wpcf7-submit {
    background-color: #1f75c5;
    border: 0;
    font-family: Raleway;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}
#cf-wrap input[type="text"], #cf-wrap input[type="email"], #cf-wrap textarea,#cf-wrap .wpcf7-submit { outline: 0 !important; }
#cf-wrap .wpcf7-response-output {
    border: 0;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    padding: 0;
}
.js-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #19a6d9;
	color: #FFF !important;
	padding: 5px 20px 7px;
	display: block;
	display: none;
	font-size: 35px;
}
.js-to-top:hover {
	background-color: #b42455;
	color:#FFF !important;
}
