/**
 * Theme Name: TPB
 * Theme URI: http://iconcept.com.ph
 * Author: Bert, Mic, Ralph
 * Author URI: http://iconcept.com.ph
 * Description: Bootstrap 3.5, TPB
 * Version: 1;
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600italic,700italic,700,800,800italic,900,900italic);

*{
	font-family: 'Open Sans', sans-serif;
}
.clearfix{  clear: both; }
.center{ text-align: center; }
.left{ text-align: left;}
.right{ text-align: right;}
.justify, .text-justify{ text-align: justify;}
.nopadding { padding: 0 !important;}
.nopaddingleft { padding-left: 0 !important;}
.nopaddingright { padding-right: 0 !important;}
.nopaddingtop { padding-top: 0 !important;}
.nopaddingbottom { padding-bottom: 0 !important;}
.nomargin{ margin: 0 !important;}
.nomargintop { margin-top: 0 !important; }
.add-margin-top{ margin-top: 10px; }
.aligncenter { display: block;margin: auto; }
.widthfull, .fullwidth { width: 100%; }
.alignleft {float: left; margin-right: 10px; margin-bottom: 20px;}
.alignright { float: right; margin-left: 10px;}
.aligncenter { display: block; margin: auto; }
.easeme { -webkit-transition: all 300ms ease-out !important; -moz-transition: all 300ms ease-out !important; -o-transition: all 300ms ease-out !important; -ms-transition: all 300ms ease-out !important; transition: all 300ms ease-out !important; }
body { font-family: 'Open Sans', sans-serif; }
.opensans { font-family: 'Open Sans', sans-serif; }
.noborder { border: 0 !important; }
.glbl-btn1 { background:#1a2791; color:#fff; letter-spacing: 1px; }
.glbl-btn1:hover { background:#fedc1a; color:#1a2791; }
.glbl-btn2 { background:#fedc1a; color:#1a2791; letter-spacing: 1px; }
.glbl-btn2:hover { background:#1a2791; color:#fedc1a !important; }
.img-center { margin:auto; }
.table-responsive { border: 0 !important; font-family: 'Raleway', sans-serif; }
.opensans { font-family: 'Open Sans', sans-serif; }
.raleway { font-family: 'Raleway', sans-serif; }
.ralewayimp { font-family: 'Raleway', sans-serif !important; }


.ls-nav-prev { background-image: url('images/cus_left_btn.png')!important; width: 39px !important; background-repeat: no-repeat; height: 39px !important; margin-left: 20px !important; }
.ls-nav-next { background-image: url('images/cus_right_btn.png') !important; width:38px !important; height:38px !important; margin-right: 20px !important; }
.ls-v5 .ls-nav-prev:hover { background-position: 0 !important; }
.ls-v5 .ls-nav-next:hover { background-position: 0 !important; }
.mehover:hover { text-decoration:underline; -moz-text-decoration-color: #fff; text-decoration-color: #fff;}


.welc-wrap {
	padding-top: 20px;
	padding-bottom: 40px;
}
.welc-wrap h1{
	font-size: 30px;
	font-weight: 700;
}
.welc-wrap h2{
	font-size: 21px;
}
.common-events {
    height: 125px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background: #ccc;
    display: table;
    width: 100%;
    padding: 0 37px;
    color: #FFF;
    cursor: pointer;
}
.common-events p, .common-events a {
	display: table-cell;
	vertical-align: middle;
    text-decoration: none !important;
    color: #fff;
}

.common-events a:hover {
    color: #edeaea;
}

.calen-promo {
	background: #0463be;

}
.visit-again {
	background: #4c8f80;
}
.calen-meeting {
	background: #b42455 url(images/celndar_index.png) center center no-repeat;
	background-size : cover !important;
}
.custom-padding {
	padding: 0 1px !important;
}
.whts-new h2{
	color: #0463BE;
	font-weight: 700;
    margin-bottom: 40px;
}
.default-btn {
    font-size: 14px;
    background: #686868;
    border: none;
    width: 155px;
    height: 45px;
    color: #FFF;
    margin: 0 auto;
    display: block;
    margin-top: 36px;
}
.default-btn:hover {
    background: #B42455;
    text-decoration: none;
    color: #FFF; 
}
.whats-new-item h4{
	color : #333333;
	font-weight: 700;
}
.whats-new-item img {
	border: 5px solid #0463BE;
}
a.default-link-btn {
    font-size: 12px;
    background: #686868;
    color: #FFF;
    padding: 7px 21px;
    display: inline-block;
    text-decoration: none;
}
a.default-link-btn:hover {
    background: #B42455;
    text-decoration: none;
    color: #FFF;    
}
.whats-new-item .content-whats-new{
	margin-bottom: 20px;
}
.wysi-p p{
    margin-bottom: 5px;
    font-weight: 300;
}
.sm-link {
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;
}
@media( max-width:1999px ){
    header .mem-lists { float:none !important; text-align: left; }
    header .mem-lists img { padding: 0 5px !important; }
    header .mainmenu { margin-top: 15px; }
}

@media( max-width:1199px ){
    #page .tabs { margin-bottom: 30px; }
    #page .invitation .title { font-size: 14px !important; display: block !important; padding-top: 0px !important; }
    #page .invitation #invitation h2.resp-accordion { padding: 15px !important; }
}

@media( max-width:991px ){
    header .mem-lists { text-align: left; }
    header .mem-lists img { padding: 0 2px !important; }
    header .mainlogo { margin-top: 15px; }
    header .mainmenu { display:none; }
    header .sh-button { display:block !important; }
    .whats-new-item{margin-bottom: 25px;}
    header h1.page-title { padding-left: 15px; }
    #page .agencies .agencies-wrp { height: auto !important; }
    #archive .sidebar-archive { margin-bottom: 20px !important; }
}

@media( max-width:768px ){
    header .col-main1, header .col-main2 { width:100% !important; }
    header .mainlogo { margin-top:0 !important; }
    header .mem-lists { text-align: center; margin: 15px 0 5px !important; }
    .footerheight { padding-bottom: 15px; height: auto !important; text-align: center; }
    footer .g-footer { margin-top: 0; }
    .whats-new-item .media-left {display: block;}
    .whats-new-item .media-left img {margin: 0 auto;}
    .whats-new-item .media-body {width: 320px;margin: 0 auto;display: block;margin-top: 11px;text-align: justify;}
    #page.careers h2.resp-accordion { font-size: 14px; margin-bottom:1px; color: #000 !important; padding: 15px !important; border: 1px solid #8d8d8d; }
    #page.careers h2.resp-accordion span.resp-arrow { border-top: 12px solid #8d8d8d !important;  }
    #page.careers h2.resp-accordion.resp-tab-active { background: #8d8d8d !important; color: #fff !important; border: 0 !important; }
    #page.careers h2.resp-accordion.resp-tab-active span.resp-arrow { border-bottom: 12px solid #fff !important; border-top: 0 solid transparent !important; }
    #archive .glbl-cont { height: auto !important; }
    #archive .glbl-cont .glbl-pulldown { position: relative !important; }

}

@media( max-width:600px ){
    #page.citizens .citizenbox { width:50%; }
    #page.careers .note { padding: 20px; }
}

@media(max-width:568px){
    #page .csr-col { width: 100%; }
    #page .csr-cont { height:auto !important; }
}

@media(max-width:500px){
    .home-new .futurewhatsnew{ width: 100%; }

}


@media(max-width:467px){
    #page .b-col { width: 100%; }
    #page .b-col .b-wrapper { height: auto !important; }
    #page.citizens .citizenbox { width:100%; }
}